body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "MedievalSharp", cursive,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Modal {
  background-color: lemonchiffon;
  padding: 2rem;
  font-family: "MedievalSharp", cursive;
  letter-spacing: 0.1rem;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 20%;
}
